/* TimeSelector 전체 */
.TimeSelector {
    width: 430px;
    height: 100px;
    border:solid 1px rgb(225,225,225);
    background-color: rgb(249,249,249);
}


/* TimeSelector 의 Nav 부분 */
.TimeSelNav {
    display: flex;
}

.TimeSelNav button {
    background-image: url('../MovieSelect/Reset.PNG');
    width: 25px;
    height: 25px;
    padding: 3px;
    margin: 18px;
    margin-left: 300px;
    border-radius: 5px;
}

.TimeSelNav h2 {
    margin: 15px;
    color: rgb(77,53,148);
}

/* TimeSelector 내용 부분 */
.TimeSelector .TimeSelContent {
    display: inline-block;
}